<head>
  <title>COVID-19 Overview</title>
  <link rel="stylesheet" href="./css/table.css">
  <link rel="icon"
      type="image/png"
      href="https://avatars2.githubusercontent.com/u/10416580?s=460&v=4" />
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="./js/chart-draw.js"></script>

<body>
  <div class="header">
    <a class="logo">COVID-19 Overview</a>
    <div class="header-right">
      <a href="https://rapidapi.com/api-sports/api/covid-193/details" target="_blank">DataSource</a>
      <a href="https://twitter.com/growsic" target="_blank">Author</a>
      <a href="https://github.com/growsic/covid-overview" target="_blank">GitHub Repository</a>
    </div>
  </div>
<div id="app">
  <div class="wrapper">
      <!-- infection-num-table CONTAINER -->
      <div class="infection-num-table group">
          <h1 class="heading">
              GLOBAL OVERVIEW
          </h1>

          <!-- total -->
          <div class="block total fl">
              <h2 class="title">total</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                      <span v-if="summary != null">{{ summary.cases.total }}</span>
                      <p v-if="summary != null">{{ summary.cases.new }}</p>
                  </p>
              </div>
          </div>
          <div class="block active fl">
              <h2 class="title">active</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="summary != null">{{ summary.cases.active }}</span>
                    <p v-if="summary != null">critical: {{ summary.cases.critical }}</p>
                  </p>
              </div>
          </div>
          <!-- /active -->
          <!-- death -->
          <div class="block death fl">
              <h2 class="title">death</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="summary != null">{{ summary.deaths.total }}</span>
                    <p v-if="summary != null">{{ summary.deaths.new }}</p>
                  </p>
              </div>
              <!-- /PT-FOOTER -->
          </div>
          <!-- /death -->
      </div>
      <div class="infection-num-table group">
          <h1 class="heading">
              JAPAN
          </h1>

          <!-- total -->
          <div class="block total fl">
              <h2 class="title">total</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                      <span v-if="japanInfo != null">{{ japanInfo.cases.total }}</span>
                      <p v-if="japanInfo != null">{{ japanInfo.cases.new }}</p>
                  </p>
              </div>
          </div>
          <div class="block active fl">
              <h2 class="title">active</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="japanInfo != null">{{ japanInfo.cases.active }}</span>
                    <p v-if="japanInfo != null">critical: {{ japanInfo.cases.critical }}</p>
                  </p>
              </div>
          </div>
          <!-- /active -->
          <!-- death -->
          <div class="block death fl">
              <h2 class="title">death</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="japanInfo != null">{{ japanInfo.deaths.total }}</span>
                    <p v-if="japanInfo != null">{{ japanInfo.deaths.new }}</p>
                  </p>
              </div>
              <!-- /PT-FOOTER -->
          </div>
          <!-- /death -->
      </div>
      <!-- /infection-num-table -->
  </div>
  <h1 class="heading">
      Top {{ rankingFrom }} to {{ rankingTo }} Countries<br/>With Highest Number Of Coronavirus Case
  </h1>
  <div class="cursor-button">
    <a v-on:click="drawChartWithPrevious" class="previous">&laquo; previous</a>
    <a v-on:click="drawChartWithNext" class="next">next &raquo;</a>
  </div>
    <br/><br/><br/>
  </div>

  <div id="firstChart"></div>
</div>



</body>
<script src="./js/covid-overview.js"></script>
