<head>
  <link rel="stylesheet" href="./css/table.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="./js/chart-draw.js"></script>

<body>
<div id="app">
  <div class="wrapper">
      <!-- infection-num-table CONTAINER -->
      <div class="infection-num-table group">
          <h1 class="heading">
              Global overview
          </h1>
          <!-- total -->
          <div class="block total fl">
              <h2 class="title">total</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                      <span v-if="summary != null">{{ summary.cases.total }}</span>
                      <p v-if="summary != null">{{ summary.cases.new }}</p>
                  </p>
              </div>
          </div>
          <div class="block active fl">
              <h2 class="title">active</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="summary != null">{{ summary.cases.active }}</span>
                    <p v-if="summary != null">critical: {{ summary.cases.critical }}</p>
                  </p>
              </div>
          </div>
          <!-- /active -->
          <!-- death -->
          <div class="block death fl">
              <h2 class="title">death</h2>
              <!-- CONTENT -->
              <div class="content">
                  <p class="price">
                    <span v-if="summary != null">{{ summary.deaths.total }}</span>
                    <p v-if="summary != null">{{ summary.deaths.new }}</p>
                  </p>
              </div>
              <!-- /PT-FOOTER -->
          </div>
          <!-- /death -->
      </div>
      <!-- /infection-num-table -->
  </div>
  <div id="firstChart"></div>
</div>



</body>
<script src="./js/covid-overview.js"></script>
